@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap)

@font-face
	font-family: 'montserrat-extra_light'
	src: url("~@/assets/fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype")
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'montserrat-light'
	src: url("~@/assets/fonts/montserrat/Montserrat-Light.ttf") format("truetype")
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'montserrat-regular'
	src: url("~@/assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype")
	font-weight: normal
	font-style: normal

@font-face
	font-family: "Courier New"
	src: url('~@/assets/fonts/courier_new/cour.ttf') format('truetype')
	font-weight: normal
	font-style: normal
	font-display: swap

.text-hero
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 56px
	line-height: 74px

.text-h1, h1
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 48px
	line-height: 62px

.text-h2, h2
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 36px
	line-height: 52px

.text-h2T
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 30px
	line-height: 42px

.text-h3, h3
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 24px
	line-height: 38px

.text-h4, h4
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 20px
	line-height: 32px

.text-h5, h5
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 16px
	line-height: 26px

.text-subtitle
	font-family: "Montserrat", sans-serif
	font-weight: 400
	font-size: 24px
	line-height: 40px
	text-transform: uppercase

.text-caption
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 18px
	line-height: 26px

.text-caption2
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 13px
	line-height: 20px

.text-link, .text-link2, .text-link3
	font-family: "Montserrat", sans-serif
	font-style: italic
	font-weight: 300
	font-size: 18px
	line-height: 26px
	text-decoration: none
	color: black
	&:hover
		color: #18BFF6
		border-bottom: 1px solid black

.text-link2
	font-size: 15px
	line-height: 25px

.text-link3
	font-size: 13px
	line-height: 20px

.text-title
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 26px
	line-height: 42px
	text-transform: uppercase

.text-body1
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 26px
	line-height: 36px

.text-body2
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 22px
	line-height: 32px

.text-body3
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 18px
	line-height: 28px

.text-body4
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 16px
	line-height: 26px

.text-body5
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 15px
	line-height: 22px

.text-body6
	font-family: "Courier New", sans-serif
	font-weight: 400
	font-size: 13px
	line-height: 18px

button, .text-button
	font-family: "Montserrat", sans-serif
	font-weight: 500
	font-size: 20px
	line-height: 38px

.red
	color: #940000