@font-face
	font-family: 'montserrat-extra_light'
	src: url(@/assets/fonts/montserrat/Montserrat-ExtraLight.ttf)
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'montserrat-light'
	src: url(@/assets/fonts/montserrat/Montserrat-Light.ttf)
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'montserrat-regular'
	src: url(@/assets/fonts/montserrat/Montserrat-Regular.ttf)
	font-weight: normal
	font-style: normal

=menu_font()
	font-family: "montserrat-regular", "calibri", sans-serif
	font-size: 16px
	line-height: 16px